.banner {
  position: relative;
  color: white;
  background-color: rgba(136, 77, 255, 0.1);
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desc {
  width: 640px;
  margin-bottom: 30px;
  line-height: 1.5em;
}
