.btn {
  color: white;
  font-size: 19px;
  background-color: #FF654A;
  font-weight: 500;
  width: 150px;
  height: 37px;
  margin-top: 50px;
  border-radius: 4px;
  border: solid 0px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.30);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #FF654A;
}
