footer {
  width: 100%;
  height: 415px;
  padding-top: 30px;
  background-color: #474747;
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  position: relative;
}

.email-input {
  width: 200px;
  min-height: 35px;
  max-height: 35px;
  font-size: 16px;
  padding-left: 7px;
  border-radius: 4px;
  border: solid 0px;
}

.submit {
  width: 130px;
  height: 30px;
  font-size: 14px;
  padding-left: 15px;
  border-radius: 3px;
  border: solid 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signature {
  padding-top: 85px;
}

.copyright {
  padding-top: 30px;
}


