body {
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
}

h1 {
  font-weight: 400;
  margin: 0 75px 0 0;
}

h2{
  margin: 0px;
  padding: 50px 0 0 0;
  font-weight: 500;
  font-size: 26px;
}

h3 {
  margin: 0px;
  font-weight: 300;
  font-size: 20px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.info {
  color: #CCCCCC;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 300px;
  position: absolute;
}



.iphone-banner {
  height: 729px;
  background-repeat: no-repeat;
  background-size: cover !important;
}











