body {
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #474747;
  display: block;
  color: #FFFFFF;
  font-size: 14px;
}

h1 {
  font-weight: 400;
}

h2 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  font-family: 'Maven Pro', sans-serif;
  list-style-type: none;
  margin-top: 3px;
  margin-right: 140px;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.banner {
  position: relative;
  color: white;
  background-color: rgba(136, 77, 255, 0.1);
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.30);
}

.desc {
  width: 620px;
  text-align: left;
}

.logo {
  position: fixed;
  display: flex;
  width: 150px;
  height: 57px;
  margin-left: 140px;
  background-color: #FF654A;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.30);
}

.logo-img {
  position: absolute;
  width: 70px;
  justify-content: center;
  margin-top: 10px;
}

.sam-logo {
  font-weight: 500;
  color: white;
  font-size: 40px;
  margin-top: 2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#assistant {
  height: 100vh;
  background-color: #F7F7F7;
}

#product {
  height: 50vh;
  background-color: #FFC2B8;
}

#journal {
  height: 100vh;
  background-color: #F7F7F7;
}

#contact {
  height: 100vh;
  background-color: #FFC2B8;
}

#faq {
  height: 100vh;
  background-color: #F7F7F7;
}

#newsletter {
  height: 500px;
  background-color: #FFC2B8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email {
  width: 300px;
  height: 30px;
  font-size: 14px;
  padding-left: 15px;
  border-radius: 3px;
  border: solid 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  color: #CCCCCC;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 300px;
  position: absolute;
}

.btn {
  color: white;
  margin-top: 20px;
  font-size: 16px;
  background-color: #FF654A;
  font-weight: 500;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: solid 0px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.60);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}













